.home{
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.conteudo-container{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 95px;
}

.conteudo-container .texto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 520px;
}

.conteudo-container h2{
    width: 558px;
    font-size: 4rem;
    font-weight:400 ;
    font-style: italic;
}

.conteudo-container div{
    width: 900px;
    display: flex;
    justify-content: flex-start
}

.texto-laranja{
    color: var(--cor-primaria);
}

.destaque-container{
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width:768px){
    .home{
        background-color: #F49A45;
        background-image: url(../img/background-tablet.png);
        background-position: top;
    }
    .conteudo-container{
        background-image: url(../img/pizza-principal-tablet.png);
        background-repeat: no-repeat;
        background-position: left;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 130px;
        margin-left: 20px;
    }
    main .texto{
        position: absolute;
        right: 15%;
        text-align: center;
        width: 320px;
        font-size: 50px;
    }
    .img-principal {
        display: none;
    }
    #produto-3{
        display: none;
    }
    #produto-4{
        display: none;
    }
}

@media (max-width:375px) {
    #home .texto{
        display: none;
    }
    .destaque-container{
        display: none;
    }
}